[Unit]
Description= The site for people who love to eat out and hate deciding on where to go
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="LANG=en_US.UTF-8"
Environment="LANGUAGE=en_US.UTF-8:"
WorkingDirectory=/home/ubuntu/deliciously-indecisive/
ExecStart=/bin/bash -c "source secrets.sh\
&& source env/bin/activate\
&& python3 server.py &>> flask.log"
Restart=always

[Install]
WantedBy=multi-user.target