<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} Welcome! Please login {% endblock %}
{% block body %} 
<div class="top">
    <h1>Please Create Your Profile </h1> 
</div> 
<div class="create-image">
</div>

<div class="container"> 
    
    <form action="/createuser" method="POST">
        
        <div class="row d-flex p-2 bd-highlight">
            <div class="d-flex justify-content-center">
                <p class="box">
                    First Name: <input type="text" name="fname">
                </p>
            </div>
        </div>
        <div class="row d-flex p-2 bd-highlight">
            <div class="d-flex justify-content-center">
                <p class="box">
                    Last Name: <input type="text" name="lname">
                </p>
            </div>
        </div> 
        <div class="row d-flex p-2 bd-highlight">
            <div class="d-flex justify-content-center">
                <p class="box">
                    Default Location: <input type="text" name="default_loc"><br>
                </p>
            </div>
        </div>
        <div class="row d-flex p-2 bd-highlight">
            <div class="d-flex justify-content-center">
                <p class="box">
                    Email: <input type="text" name="email">
                </p>
            </div>
        </div>
        <div class="row d-flex p-2 bd-highlight">
            <div class="d-flex justify-content-center">
                <p class="box">
                    Password: <input type="password" name="password">
                </p>
            </div>
        </div>
        
        <div class="row d-flex p-2 bd-highlight">
            <div class="d-flex justify-content-center">
                <p>
                    <button class="button-75" type="submit">Create Profile</button>
                </p>
            </div>
        </div>
    </form >

        <form action="/login">
            <div class="d-flex justify-content-center">
                <button class="button-75 " type="submit" >Login Page</button>
            </div>
        
        </form>
    </div>
</div>  


{% endblock %}
