<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Query Info{% endblock %}

{% block body %}
<h1>
    Welcome!
</h1>
<h2>Please enter what you'd like to search for, and include any additional criteria you'd like.</h2>
<form action="/results-top">
<div id="see">
    
        <label>Search For:</label>
        <input type="text" name="search">
    
</div>
<br>
<div id="locate">
    
        <label>Location:</label>
        <input type="text" name="location">
        <label>required***</label>
    
</div>
<br>
<div>
    <label>Price Range:</label><br>
    <input type="checkbox" name="$">
    <label>$</label>
    <input type="checkbox" name="$$">
    <label>$$</label>
    <input type="checkbox" name="$$$">
    <label>$$$</label>
    <input type="checkbox" name="$$$$">
    <label>$$$$</label>
</div>

<br>
<div>
    Sort Results By:
        <select name="sort_by">
            <option value="best_match">Best Match</option>
            <option value="rating">Ratings</option>
            <option value="review">Reviews</option>
            
        </select>
</div>
<br>
<div>
    <label>Open Now:</label>
    <select name="open">
        <option value="True">Open</option>
        <option value="False">Closed</option>
    </select>  
</div>
<br>


<div>
    <input type="submit" id="search_now">
</div></form>
<script src="static/food.js"></script>
{% endblock %}