<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Query Info{% endblock %}

{% block body %}

{% if session %}
<input type="hidden" id="session" name="True"> 
{% endif %}

<div id='base'>
<div id='flash'></div>
    {% if session %}
    <p id="jinja">
        Welcome, {{session['fname']}}
    </p>
    {% endif %}
<h1>
    Welcome!
</h1>
<h2>Please enter what you'd like to search for, and include any additional criteria you'd like.</h2>
<form >
<div id="see">
    
        <label>Search For:</label>
        <input type="text" name="search">
    
</div>
<br>
<div id="locate">
    
        <label>Location:</label>
        <input type="text" name="location">
        <label>required***</label>
    
</div>
<br>
<div>
    <label>Price Range:</label><br>
    <input type="checkbox" name="$">
    <label>$</label>
    <input type="checkbox" name="$$">
    <label>$$</label>
    <input type="checkbox" name="$$$">
    <label>$$$</label>
    <input type="checkbox" name="$$$$">
    <label>$$$$</label>
</div>

<br>
<div>
    Sort Results By:
        <select name="sort_by">
            <option value="best_match">Best Match</option>
            <option value="rating">Ratings</option>
            <option value="review_count">Review Count</option>
            <option value="distance">Distance</option>
        </select>
</div>
<br>
<div>
    <label>Open Now:</label>
    <select name="open">
        <option value="True">Open</option>
        <option value="False">Closed</option>
    </select>  
</div>
<br>

{% if session %}
<div>
    <input type='checkbox' name='database' id="database">
    <label>Choose only from previously rated restaurants</label>
</div>
{% endif %}
<div>
    <input type="submit" id="search_now">
</div></form>

</div>
<div id="response"></div>
<div id="rate">
</div>
<!-- <script src="static/food.js"></script> -->
<script src="static/tier1.jsx" type="text/jsx"></script>
{% endblock %}