<!DOCTYPE html>
{% extends 'base.html' %}

{% block body %} 
<div>
    <div class="row">
        <h1 class="top">Welcome to Deliciously Indecisive!</h1>
    </div> 

<div class="row">
    <div>
        <h3 id="sub" class="top">
            The site built for people who love to eat out, 
            but hate thinking of where to go.
        </h3>
    </div>
</div>
</div>
{% if session %}
        <p id="jinja">
            Welcome Back, {{session['fname']}}
        </p>
{% endif %}
<br>
    <div class="main-image">
    </div>
    <div class="container">
        
        
            
            
                
            <!-- if no  -->
            {% if not session %}
                <div class="row input d-flex p-2 bd-highlight" id="buttons">
                    <div id="login" class="d-flex justify-content-center">
                        <form action="/login" >
                            <button type="submit" class="button-75">Login Here!</button>
                        </form>
                        <div class="col-1"></div>
                    
                        <form action="/createuser">
                            <button class="button-75" type="submit" >Create A Profile</button>
                        </form>
                   
                        <div class="col-1"></div>
                        <form action="/criteria">
                            <button class="button-75" type="submit" >Continue as Guest</button>
                        </form>
                    </div>
                </div>
            {% endif %}


        {% if session %}
            <div class="row input d-flex p-2 bd-highlight" id="buttons">
                <div id="login" class="d-flex justify-content-center">
                    <form action="/login">
                        <button class="button-75" type="submit" >Change Profiles</button>
                    </form>
                </div>
                <div class="col-1"></div>
                <div class="d-flex justify-content-center">
                    <form action="/criteria">
                        <button class="button-75" type="submit" >Start Search</button>
                    </form>
                    </div>
            </div>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="credit">
        Site built by Becky G
    </div>


{% endblock %}
