<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} Welcome! Please login {% endblock %}
{% block body %} 
<dev>
    <h1>Welcome to Deliciously Indecisive! Please login. </h1> 
</dev>    
<dev>
    <form action="/login" method="POST">
        <p>
            Email <input type="text" name="email">
        </p>
        <p>
            Password <input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
    <a href="/createuser">Create an Account</a>
</dev>


{% endblock %}
